.GamePad {
  width: 100%;
  height: 100%;
  background-color: gray;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Fredoka One';
  color: white;
  font-size: 30px;
}
.GamePadButton {
  background-color: darkred;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  width: 120px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.GamePad button {
  background-color: darkred;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.GamePad input {
  background-color: darkred;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
