.Video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Fredoka One';
  overflow: hidden;
}

.Title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  -webkit-text-stroke: 3px black;
  -webkit-text-fill-color: white;
  font-size: 4.5em;
}
